# Игнорируем огромные данные
data/
*.csv

# Игнорируем локальное окружение и кэш
.venv/
__pycache__/
.pytest_cache/
.git/

# Игнорируем кэш моделей (мы пробрасываем его через volumes)
cache/

# Игнорируем файлы настроек IDE
.idea/
.vscode/