# Python мусор
__pycache__/
*.pyc
.venv/
venv/

# Docker мусор (база данных хранится в volumes, их не пушим)
postgres_data/

# Данные и кэш (ОГРОМНЫЕ файлы)
cache/
data/Food_Recipe.csv

# Секреты
.env