version: '3.8'

services:
  db:
    image: ankane/pgvector:latest
    container_name: rag_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rag_base
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: fastapi_app
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      # Пробрасываем папку с моделью, чтобы не качать её каждый раз
      - ./cache:/app/cache
    environment:
      # Указываем sentence-transformers искать модель в папке /app/cache
      - SENTENCE_TRANSFORMERS_HOME=/app/cache
      # Ссылка на БД внутри сети Docker (используем имя сервиса 'db')
      - DATABASE_URL=postgresql://admin:admin@db:5432/rag_base

volumes:
  postgres_data: